.hero {
  margin-left: 55px;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
}
body {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
h3 {
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 40px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
}
h2 {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}
.bg-fb90b7 {
  background: #fb90b7;
}
.bg-body-ffcee4 {
  background: #ffcee4;
  opacity: 0.9;
}
